.header{
    display: grid;
    background-color: #04c9a8;
    grid-template-columns: 1fr 100px;
}
.header__logo{
    font-size: 55px;
    font-family: 'Permanent Marker', cursive;
    color:#000061;
    padding:10px 30px
}
.header__link{
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    position:relative;
    top:37px;
}